<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="http://zzj-app.qiniudn.com/css/app.min.css" rel="stylesheet">
</head>

<body ng-app="app">
    <div ng-controller="foo.bar">
        <input ng-model="greeting" type="text">
        <br>No filter: {{greeting}}
        <br>Reverse: {{greeting|reverse}}
        <br>Reverse + uppercase: {{greeting|reverse:true}}
        <br>{{reverse}}
    </div>
    <script src="http://zzj-app.qiniudn.com/lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="http://zzj-app.qiniudn.com/lib/sails.io.js/dist/sails.io.js"></script>
    <script src="http://zzj-app.qiniudn.com/lib/angular-sails/dist/angular-sails.min.js"></script>
    <script>
    angular.module('app', [])
        .filter('reverse', function() {
            return function(input, uppercase) {
                input = input || '';
                var out = "";
                for (var i = 0; i < input.length; i++) {
                    out = input.charAt(i) + out;
                }
                // conditional based on optional argument
                if (uppercase) {
                    out = out.toUpperCase();
                }
                return out;
            };
        })
        .controller('foo.bar', ['$scope', 'reverseFilter',

            function($scope, reverseFilter) {
                $scope.greeting = 'hello';
                $scope.reverse = 'reverse string is ' + reverseFilter($scope.greeting);
            }
        ]);
    </script>
</body>

</html>
