<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-view animation="slide-left-right-ios7"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-nav-view name="left" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-nav-view name="right" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu>

</ion-side-menus>
