<ion-header-bar class="bar-positive">
    <h1 class="title">左边</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
            首页
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
            Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
            Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
            Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
            Playlists
        </ion-item>
    </ion-list>
</ion-content>
