<ion-header-bar class="bar-balanced">
    <h1 class="title">右</h1>
</ion-header-bar>
<ion-content class="card">
    <div class="list card">

        <a href="#" class="item item-icon-left">
            <i class="icon ion-home"></i>
            Enter home address
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            Enter phone number
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Enter wireless password
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Enter card information
        </a>

    </div>
</ion-content>
