<ion-view title="信息">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button icon ion-navicon-round"></button>
            <button menu-toggle="left" class="button icon ion-navicon"></button>
            <button menu-toggle="left" class="button icon ion-ios7-paper-outline"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button icon icon-right ion-ios7-person"></button>
            <button menu-toggle="right" class="button icon icon-right ion-ios7-person-outline"></button>
            <button menu-toggle="right" class="button icon icon-right ion-person"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="row responsive-sm">
            <div class="col">
                <div class="row">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <div class="row">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
