<ion-view title="信息">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row responsive-lg">
            <div class="row responsive-md">
                <div class="row responsive-sm">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
            <div class="row responsive-md">
                <div class="row responsive-sm">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                    <div class="col item item-image">
                        <img src="http://zzj-app.qiniudn.com/landscape.jpg?imageView2/1/w/200/h/200">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
