<ion-tabs class="tabs-icon-top tabs-light">

    <ion-tab class="assertive" title="首页" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" ui-sref="tabs.home">
        <ion-nav-view />
    </ion-tab>

    <ion-tab class="positive" title="发布" icon-on="ion-ios7-compose" icon-off="ion-ios7-compose-outline" ui-sref="tabs.pub">
        <ion-nav-view name="pub" />
    </ion-tab>

    <ion-tab class="balanced" title="聊聊" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline" ui-sref="tabs.chat" badge="3">
        <ion-nav-view name="chat" />
    </ion-tab>

    <ion-tab class="energized" title="最爱" icon-on="ion-ios7-heart" icon-off="ion-ios7-heart-outline" ui-sref="tabs.fav">
        <ion-nav-view name="fav" />
    </ion-tab>

    <ion-tab class="royal" title="设置" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" ui-sref="tabs.set">
        <ion-nav-view name="set" />
    </ion-tab>

</ion-tabs>
<!--
home
heart
star
compose
person
gear
chatbubble
search/search-strong
settings/setting-strong
drag
    <ion-tab class="assertive" title="首页" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" ui-sref="tabs.home">
        <ion-nav-view />
    </ion-tab>

    <ion-tab class="positive" title="发布" icon-on="ion-ios7-compose" icon-off="ion-ios7-compose-outline" ui-sref="tabs.pub">
        <ion-nav-view name="pub" />
    </ion-tab>

    <ion-tab class="balanced" title="聊聊" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline" ui-sref="tabs.chat">
        <ion-nav-view name="chat" />
    </ion-tab>

    <ion-tab class="energized" title="最爱" icon-on="ion-ios7-heart" icon-off="ion-ios7-heart-outline" ui-sref="tabs.fav">
        <ion-nav-view name="fav" />
    </ion-tab>

    <ion-tab class="royal" title="设置" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" ui-sref="tabs.set">
        <ion-nav-view name="set" />
    </ion-tab>

-->
